.brandFont {
  font-family: Actor;
  font-weight: 500;
  font-style: normal;
  height: max-content;
}
@media screen and (min-width: 320px) and (max-width:424px) {
  .imageSize{
     width : 100% !important;
     height: 500px !important;

  }
}
@media screen and (min-width:425px){
  .imageSize{
    width : 100% !important;
  }
}

.figcaption{
  position: absolute;
  bottom: 19rem;
  margin: 1rem;
  padding: 1rem;
  color: white;
  justify-content: center;

}
.fontSize{
  font-size: 1.25rem; font-weight: 300;
}